<header class="header header-library">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="./index.html">
        <svg class="logo__icon">
          <use href="./images/spite.svg#film"></use>
        </svg>
        <span class="logo__name">Filmsbox</span>
      </a>
      <ul class="navbar">
        <li class="navbar__item">
          <a href="./index.html" class="navbar__link">home</a>
        </li>
        <li class="navbar__item">
          <a href="./library.html" class="navbar__link navbar__link--active"
            >my library</a
          >
        </li>
      </ul>
    </nav>

    <div class="header-library__btn-block">
      <button class="btn" type="button" data-value="watched">WATCHED</button>
      <button class="btn" type="button" data-value="queue">QUEUE</button>
    </div>
  </div>
</header>
