<div class="modal__backdrop is-hidden" data-modal>
  <div class="modal__content">
    <svg class="modal__close">
      <use href="./images/spite.svg#close"></use>
    </svg>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam vero
      deleniti fuga amet officia id, deserunt voluptatem odit, quis, possimus
      repudiandae in excepturi laudantium? Corporis iste cupiditate rerum porro
      in! Molestiae exercitationem cupiditate repellat, expedita minima
      voluptatem, officia, excepturi necessitatibus omnis laboriosam vel
      possimus? Explicabo, ab? Velit, eum. Pariatur non fuga, itaque esse magnam
      in temporibus! Dolorem pariatur hic modi. Ullam accusantium fuga et error,
      obcaecati eaque tempora reiciendis? Ipsam perspiciatis dolorem repudiandae
      assumenda tempore quam beatae sed eum debitis asperiores est qui commodi
      ad optio aut, repellat dolores. Minima! A incidunt, hic nemo aspernatur
      suscipit, enim porro beatae totam corrupti quas praesentium inventore iste
      dolorum! Quo excepturi necessitatibus voluptate nesciunt, in quas commodi
      a similique deleniti odio, cum mollitia! Facere sapiente, doloremque
      perspiciatis iste soluta magni delectus quisquam! Aut, sint earum dolorem
      sit enim fugiat unde illum itaque ipsa sunt, praesentium officia fugit
      rerum quis accusamus. Beatae, praesentium ipsam!
    </p>
  </div>
</div>
